<div class="custom-background"></div>
<div class="container text-center py-5">
    <h1>Collection of recent photos and videos.</h1>
    <p class="lead">
      A beautiful place to see the most recent images and videos from NASA.
    </p>
    <ng-container *ngIf="loading" >
      <app-loading></app-loading>
    </ng-container>
    <ng-container *ngIf="!loading">
      <app-news 
      [cards]="cards"  
      [showFilter]="true" 
      [showInput]="true" 
      (filterChanged)="onFilterChanged($event)" 
      (searchTextChanged)="onSearchTextChanged($event)"
      (sortChanged)="onSortChanged($event)"
      >
    </app-news>
    </ng-container>
  </div>
  