.navbar{
    margin-top: 20px;
    margin-right: 20px;
}
.navbar ul{
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.navbar ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #fff;
    text-decoration: none;
}
.profile-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 767.98px) {
    .navbar-nav {
      text-align: center;
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  .dropdown_margin{
    margin-right: 30px;
  }