.snippet-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.snippet-card {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.snippet-card img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.snippet-card .card-info {
  margin-top: 10px;
}


.snippet-card .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.snippet-card .play-icon i {
  font-size: 4rem;
}

.snippet-card {
  position: relative;
  display: inline-block;
  margin: 10px;
}

.image-container {
  position: relative;
  display: inline-block;
}

.icon-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
  width: 20px; 
  height: 20px;
  z-index: 1;
  display: block;
}


