*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
--bg-font-color: #fff;
}

body{
    color: var(--bg-font-color);
}

.custom-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -10;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 6rem 1.25rem; 
    background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
}

.fade-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 180px; 
    background: linear-gradient(to top, rgba(102, 51, 232, 0.8) 0%, rgba(102, 51, 232, 0.3) 50%, rgba(102, 51, 232, 0) 100%);
    pointer-events: none; 
    z-index: 10;
}
