.filter-container {
    margin: 10px 0;
  }
  
  .form-check-input {
    display: none;
  }
  
  .form-check-label {
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .form-check-input:checked + .form-check-label {
    background-color: #007bff;
    color: white;
  }
  
  .form-check-label i {
    margin-right: 5px;
  }
  